@import "cards.less";
@import "tests.less";
@import "components.less";
@fontColor: #11718d;
@lightBlue:  #d6eff4;
@darkBlue:   #61bbd5;
@darkGreen:  #52a359;
@lightGreen: #aae094;
@darkRed: #e09494;
@paleBlue: #2393b4;

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    margin-bottom:20px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

#MainMenuScreen{
    color: rgb(39,145,167);
    // position: relative;
    // top: 46em;
    position:absolute;
    width:100%;
    top:20%;
}
#MainMenuGSPButton{

}
.Menubutton{
    border-radius: 0.4em;
    padding: 0.9em;
    width: 40%;
    margin-left: auto ;
    margin-right: auto ;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
    &.lightBlue
    {
        background: @lightBlue;
    }
    &.darkBlue
    {
        background: @darkBlue;
        color: @lightBlue;
    }
    &.darkGreen{
        background: @darkGreen;
        color: @lightBlue;
    }
    &.blackBlue{
        background: @fontColor;
        color: @lightBlue;
    }
}

#HumanScreen{
    position: absolute;
    top: 5%;
    width: 100%; 
    #HumanName{
        margin-bottom: 10px;
        cursor: pointer;
        width: 50%;
        display: inline;
    }
    .humanBody{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        .bodyPart{
            @media (min-width:480px){
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
            cursor: pointer;
            vertical-align: middle;
            &:hover{
                background: @lightBlue;
            }
            .bodyPartSVG{
                vertical-align: middle;
                // z-index:-1;
                pointer-events: none;
                display:inline-block;
            }
            .g1_1{
                // fill: red;
            }
        }
        .bodyPartInvisible{
            padding:10px;
            border:1px solid @lightBlue;
            background: @lightBlue;
            border-radius: 2em;
            display: block;
            width: 50%;
            margin: 1em auto;
        }   
        .bodyPartText{
                margin: 0px;
                width: 50%;
                height: 63px;
                border-color: transparent;
                resize: none;
                background-color: #d6eff4;
                text-align: center;
        }
    }
    
}